@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.logo{
   font-family: 'Poppins', sans-serif;
}
